# Konfigurationen (enthalten Passwörter / Keys!)
erp/config/database.php
erp/config/encryption.php

# PHP Dependencies (kommt später)
vendor/

# System-Dateien
.DS_Store
Thumbs.db

# Logs
*.log

# Test-php
erp/public/test.php

# Import-Daten
erp/import/*
import/*